<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <targets async="true">
    <default-target-parameters xsi:type="File" keepFileOpen="false" />
   
    <target name="debug"
            xsi:type="File"
            deleteOldFileOnStartup="true"
            fileName="${var:LogDir}/Debug.txt"
            archiveFileName="${var:LogDir}/DebugHistory/Debug.{###}.txt"
            archiveNumbering="Rolling"
            maxArchiveFiles="500"
            layout="${longdate} ${level} ${message}"
            archiveAboveSize="10240000"
            encoding="utf-8" />
    <target name="info"
            xsi:type="File"
            enableFileDelete="false"
            fileName="${var:LogDir}/Info.txt"
            archiveFileName="${var:LogDir}/InfoHistory/Info.{###}.txt"
            archiveNumbering="Rolling"
            maxArchiveFiles="500"
            layout="${longdate} ${level} ${message}"
            archiveAboveSize="10240000"
            encoding="utf-8" />
    <target name="error"
            xsi:type="File"
            enableFileDelete="false"
            fileName="${var:LogDir}/Error.txt"
            archiveFileName="${var:LogDir}/ErrorHistory/Error.{###}.txt"
            archiveNumbering="Rolling"
            maxArchiveFiles="500"
            layout="${longdate} ${level} ${message}"
            archiveAboveSize="10240000"
            encoding="utf-8" />
    <target name="trace"
            xsi:type="File"
            enableFileDelete="false"
            fileName="${var:LogDir}/Trace.txt"
            archiveFileName="${var:LogDir}/TraceHistory/Trace.{###}.txt"
            archiveNumbering="Rolling"
            maxArchiveFiles="5000"
            layout="${longdate} ${message}"
            archiveAboveSize="10240000"
            encoding="utf-8" />

  </targets>
  <rules>
    <logger name="*" level="Debug" writeTo="debug" />
    <logger name="*" level="Error" writeTo="error" />
    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" level="Trace" writeTo="trace" />
  </rules>
</nlog>